@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,400;0,600;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #4ABDAC;
}
header{
    background-color: orange;
    padding: 50px;
}
header > h1{
    color: #252631;
    text-align: center;
    font-family: 'Asap', sans-serif;
}
button{
    border-color: orange;
    background-color:#FF4500;
}
.message{
    margin: 200px auto;
    padding: 20px;
    border: 3px solid white;
    border-radius: 12px;
    width: 770px;
    color: whitesmoke;
    font-size: 40px;
    align-content: center;
}